[color]
	branch      = auto
	diff        = auto
	grep        = auto
	interactive = auto
	status      = auto
	ui          = auto
[core]
	editor = vim
  ignorecase = false
  quotepath = false
  excludesfile = ~/.gitignore_global
[push]
	defalut = current
[rebase]
	autosquash = true
[include]
	path = ~/.gitconfig.local
[http]
  postBuffer = 16M
[user]
	name = Kohei Kato
	email = 
[credential]
	helper = osxkeychain
